#run{
    color: maroon;
}



#motto {
  font-style: italic;
}

.justify {
    text-align:justify;
    text-justify:inter-word;
}

.vehicle-model {
  margin-top: 6px;
}

.vehicle-model:hover {
  outline: 5px solid dodgerblue;
}

.purchase-font{
    font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
    font-size: 20px;
}


