<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3" align="center">Ride<span id="run">LookUp</span></h1>
            <p><h3 id="motto" align="center" >Best prices region wide!</h3></p>
          <p>{% include 'navbar.html' %}</p>
        </div>
    </div>

    {% block body %}


    {% endblock %}


</body>

{% block afterBody %}


{% endblock %}



</html>