{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}upload{% endblock %}

{% block body %}
    <div class="container">
    <h2>Create vehicle data</h2>
        <form method="post" action="{% url 'create' %}" enctype="multipart/form-data">{% csrf_token %}
            {{form|crispy}}<br>
            <input type="submit" value="create" class="btn btn-primary">
        </form>
    </div>

{% endblock %}

{% block afterBody %}
    <hr>
        <div class="footer">
        <footer class="container">
           <p>© RideLookUp 2019</p>
        </footer>
    </div>
{% endblock %}